<div class="loginbox">
  <el-form [formGroup]="validateForm" label-width="100px" [show-icon]="true" [show-message]="true" el-class="form-demo">
    <el-form-item label="邮箱" [required]="true"
    [status]="statusCtrl('mail')" [error]="messageCtrl('mail')">
    <el-input formControlName="mail"></el-input>
  </el-form-item>
  
  <el-form-item label="密码" [required]="true"
    [status]="statusCtrl('password')" [error]="messageCtrl('password')">
    <el-input formControlName="password" native-type="password"></el-input>
  </el-form-item>
  
  <el-form-item>
    <el-button type="primary" (click)="submit()">提交</el-button>
    <el-button (click)="reset()">重置</el-button>
  </el-form-item>
  </el-form>
  <div class="textbox">
    <div class="textbox1">6666</div>
  </div>
  <div>
      <img src="./assets/static/aa.png" class="img1">
  </div>
  <div class="imgbox"></div>
  <div class="imgbox2" style="background:url('./assets/static/aa.png')"></div>
  <el-button  (click)="testMessService()">testMess</el-button>
  <el-button  (click)="testMessSubject()">testMessSubject</el-button>
</div>
<app-show-log></app-show-log>
