.loginbox{
    width: 100%;
    height: 600px;
    /* border: 1px solid blue; */
    margin: 0 auto;
}
.textbox{
   width: 3.75rem;
   height: 1rem;
   background: blue;
}
.textbox1{
    width: 1rem;
   height: 1rem;
   background: yellow;
}